{% extends 'homepage.html' %}

{% block content %}
<main class="py-5">
    <h1>Log in</h1>
    <!-- 'accounts:login' refer to 'namespace:name' in urls.py -->
    <form class="form-group" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %} <!-- includes the security token in the form -->
        {{ form }}
        {% if request.GET.next %} <!-- If request method has a next value (a wanted url where to go)-->
            <input type="hidden" name="next" value="{{request.GET.next}}"> <!-- we store that value -->
        {% endif %}
        <input type="submit" value="Login">
    </form>
</main>

{% endblock %}