{% extends 'homepage.html' %}
{% block content %}
<main class="py-5">
<div class="row">
    <div class="child table-responsive col-md-6">
        <table>
            <thead>
            <tr>
                <th>IN PROGRESS</th>
            </tr>
            </thead>
            <tbody>

            <div class="tasks">
                {% for task in tasks %}
                <tr>
                    <td>
                        {% if task.state == task.IN_PROGRESS %}
                        <div class="task">
                            <!-- 'tasks.detail' matches the name in urls.py
                            where tasks is the namespace. task_id matches the variable-->
                            <h2><a href="{% url 'tasks:detail' task_id=task.id %}">{{ task.title }}</a></h2>
                            <p><i>task ID: {{ task.id }} - Created on {{ task.date }}</i></p>
                            <p>{{ task.snippet }}</p>
                            <p>Assigned to:
                                {% for user in task.assigned.all %}
                                {{ user }},
                                {% endfor %}
                            </p>
                            <p>{{ task.state }}</p>
                            <div>
                                <a href="{% url 'tasks:update' task_id=task.id %}">Update</a>
                                <a href="{% url 'tasks:change_state' task_id=task.id %}">Finish</a>
                                <a href="{% url 'tasks:delete' task_id=task.id %}">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </div>

            </tbody>
        </table>
    </div>
    <div class="child table-responsive col-md-6">
        <table>
            <thead>
            <tr>
                <th scope="col">FINISHED</th>
            </tr>
            </thead>
            <tbody>

            <div class="tasks">
                {% for task in tasks %}
                <tr>
                    <td>
                        {% if task.state == task.FINISHED %}
                        <div class="task">
                            <!-- 'tasks.detail' matches the name in urls.py
                            where tasks is the namespace. task_id matches the variable-->
                            <h2><a href="{% url 'tasks:detail' task_id=task.id %}">{{ task.title }}</a></h2>
                            <p><i>task ID: {{ task.id }} - Created on {{ task.date }}</i></p>
                            <p>{{ task.snippet }}</p>
                            <p>Assigned to:
                                {% for user in task.assigned.all %}
                                {{ user }},
                                {% endfor %}
                            </p>
                            <p>{{ task.state }}</p>
                            <div>
                                <a href="{% url 'tasks:change_state' task_id=task.id %}">Not finished</a>
                                <a href="{% url 'tasks:delete' task_id=task.id %}">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </div>

            </tbody>
        </table>
    </div>
</div>
</main>
{% endblock %}