

<main class="py-5">
    <section class="mb-5">
      <div class="container">
          <h3 class="mb-3">Notification Nr  {{ notification.id }}</h3>
          <div class="bg-light p-4">
              <div class="row">
                  <div class="col-lg-4">
                      <label for="">Tipo Notification</label>
                        {{ notification.title }}
                  </div>

                  <div class="col-lg-4">
                      <label for="">Reason</label>
                      {{ notification.reason }}
                  </div>

                  <div class="col-lg-4">
                      <label for="">Type</label>
                      {{ notification.type }}
                  </div>
              </div>

              <div class="row">
                  <div class="col-lg-4">
                      <label for="">Task</label>
                      <h1>Here it will go the asociated task</h2>
                  </div>
              </div>
          </div>
      </div>
    </section>
</main>